<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Tarea 6 - Mercedes Amor</title>
</head>
<body class="container mt-5">
    <h1 class="mb-4">Nuevo empleado</h1>

    <form method="post" th:action="@{/add/submit}" th:object="${empleadoForm}" class="card p-4 shadow">
        <!-- El id ya se autogenera, no debemos introducirlo -->
        <!-- <div class="mb-3">
            <label for="id" class="form-label">Id:</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" />
        </div> -->
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="salario" class="form-label">Salario:</label>
            <input type="text" id="salario" th:field="*{salario}" class="form-control" />
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="enActivo" th:field="*{enActivo}" />
            <label for="enActivo" class="form-check-label">En activo</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Género:</label>
            <div th:each="gen : ${T(com.example.app.domain.Genero).values()}" class="form-check">
                <input class="form-check-input" type="radio" name="genero" th:value="${gen}" th:field="*{genero}" />
                <label class="form-check-label" th:text="${gen}"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </br>
    <div th:if="${textErr != null}"
    class="alert alert-warning" role="alert">
        <p th:text="${textErr}">Texto de error</p>
    </div>
    <a th:href="@{/}" class="btn btn-secondary ms-2">Inicio</a>

</body>
</html>
